.btn {
	display: inline-block;
	padding: 0 30px;
	font-size: 25px;
	font-weight: 700;
	line-height: 45px;
	color: @btn-default-color;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	background: @btn-default-bg;
	.border-radius(@border-radius);
	.transition(background-color 0.2s ease-in-out);
	
	&:active,
	&:focus,
	&:hover {
		background-color: darken(@btn-default-bg, 5%);
	}
}
