.content {
	background: #fff;
	position: relative;
	z-index: 1;

	article {
		.container();
		
		ul {
			margin-bottom: 20px;
		}

		sup {
			line-height: 140%;
			display: inline-block;
			color: #ccc;
			top: auto;
		}
	}
}
