* {
  .box-sizing(border-box);
}

*:before,
*:after {
  .box-sizing(border-box);
}

html, body {
	height: 100%;
}

body {
	font-family: @font-family;
	background: @body-bg;
}

a {
	color: inherit;
	text-decoration: none;
}

::-moz-selection{
	background: @primary-bg;
	color: @primary-color;
	text-shadow: none;
}

::selection {
	background: @primary-bg;
	color: @primary-color;
	text-shadow: none;
}