* {
  .box-sizing(border-box);
}

*:before,
*:after {
  .box-sizing(border-box);
}

html, body {
	height: 100%;
}

body {
	font-family: @font-family;
	font-size: @font-size;
	line-height: @line-height;
	background: @body-bg;
	color: @color;
}

a {
	color: @link-color;
	text-decoration: none;
	.transition(color 0.2s ease-in-out);
	
	&:hover {
		color: darken(@link-color, 20%);
	}
}

hr {
	border: 0;
	border-top: 1px solid @primary-bg;
	margin: @line-height 0;
}

::-moz-selection{
	background: @primary-bg;
	color: @primary-color;
	text-shadow: none;
}

::selection {
	background: @primary-bg;
	color: @primary-color;
	text-shadow: none;
}