header {
	min-height: 100%;
	text-align: center;
	background-color: @header-bg;
	color: @header-color;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	nav {
		position: absolute;
		top: 50%;
		margin-top: -100px;
		width: 100%;
	}

	h1 {
		font-size: 50px;
		margin: 0 0 20px;
		line-height: 100%;
		
		@media (min-width: @tablet) {
			font-size: 70px;
		}
		
		@media (min-width: @desktop) {
			font-size: 100px;
		}
		
		@media (min-width: @desktop-large) {
			font-size: 120px;
		}
		
		a {
			color: inherit;
			
			&:hover {
				color: inherit;
			}
		}
	}

	h3 {
		font-size: 25px;
		font-weight: 400;
		margin: 0 0 20px;
		
		@media (min-width: @tablet) {
			font-size: 30px;
		}
		
		@media (min-width: @desktop-large) {
			font-size: 40px;
		}
	}
}

.see-more {
	position: absolute;
	top: -80px;
	left: 0;
	right: 0;
	padding: 20px 0;
	font-size: 50px;
	color: fade(white, 50%);
	text-align: center;

	span {
		display: inline-block;
	}
	
	&:hover {
		color: fade(white, 80%);
		
		i {
			width: 50px;
			
			.keyframes(jump;{
				0% { .translate(0, 0) }
				100% { .translate(0, -10px) }
			});
			.animation(jump 0.4s ease-in infinite alternate)
		}
	}
}

.why-dont-you-hire-me {
	min-height: 100%;
	position: relative;
	z-index: -1;
}
