.box-sizing(@boxmodel) {
	-webkit-box-sizing: @boxmodel;
	-moz-box-sizing: @boxmodel;
	box-sizing: @boxmodel;
}

.opacity(@opacity) {
	opacity: @opacity;
	@opacity-ie: (@opacity * 100);
	filter: ~"alpha(opacity=@{opacity-ie})";
}

.placeholder(@color: @input-color-placeholder) {
	&::-moz-placeholder {
		color: @color;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color: @color; 
	}
	&::-webkit-input-placeholder {
		color: @color;
	}
}

.border-radius(@border-radius) {
	-webkit-border-radius: @border-radius;
	-moz-border-radius: @border-radius;
	border-radius: @border-radius;
}

.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	transition: @transition;
}

.container(@padding: 20px) {
	max-width: @max-width;
	margin: 0 auto;
	padding: @padding;
}

.translate(@x; @y) {
	-webkit-transform: translate(@x, @y);
	-ms-transform: translate(@x, @y); // IE9 only
	-o-transform: translate(@x, @y);
	transform: translate(@x, @y);
}


.keyframes(@name; @arguments) {
	@-moz-keyframes @name { @arguments(); }
	@-webkit-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}

.animation(@arguments) {
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
	animation: @arguments;
}