.box-sizing(@boxmodel) {
	-webkit-box-sizing: @boxmodel;
	-moz-box-sizing: @boxmodel;
	box-sizing: @boxmodel;
}

.opacity(@opacity) {
	opacity: @opacity;
	@opacity-ie: (@opacity * 100);
	filter: ~"alpha(opacity=@{opacity-ie})";
}

.placeholder(@color: @input-color-placeholder) {
	&::-moz-placeholder {
		color: @color;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color: @color; 
	}
	&::-webkit-input-placeholder {
		color: @color;
	}
}

.border-radius(@border-radius) {
	-webkit-border-radius: @border-radius;
	-moz-border-radius: @border-radius;
	border-radius: @border-radius;
}

.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	transition: @transition;
}