@tablet: 768px;
@desktop: 1024px;
@desktop-large: 1200px;

@body-bg: #fff;
@font-family: 'Ubuntu Mono', Arial;

@border-radius: 4px;

@primary-bg: #e2007d;
@primary-color: #fff;

@header-bg: #00becc;
@header-color: #fff;

@btn-default-bg: #ff6a00;
@btn-default-color: #fff;